@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;;
}

button {
  background-color: orange;
  padding: 8px 12px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.content {
  width: 90%;
  max-width: 60rem;
  display: flex;
  margin: 200px auto;
} 

.people {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 30px;
}

.buttonAddFriend {
  align-self: flex-end;
}

.friends {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.person {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  gap: 15px;
  align-items: center;
}

.profile img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.fromPay {
  margin: 0 auto;
  width: 47%;
  height: 22rem;
  background-color: rgb(255, 236, 200);
  padding: 25px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.fromPay h2 {
  text-transform: uppercase;
  color: #1d3557;
  font-weight: bold;
  margin-left: 15px;
}

.fromPay form label input, select {
  border: 1px solid rgb(233, 206, 156);
  padding: 7px 5px;
  width: 120px;
  text-align: center;
  outline: none;
  border-radius: 4px;
}

.fromPay form label {
  font-size: 1.07rem;
  font-weight: 600;
  color: #1d3557;
}

.fromPay form  button {
  align-self:flex-end;
  width: 120px;
}

.fromPay form label input[name="xexpense"] {
  background-color: rgb(247, 247, 247);
}

.info, .fromPay {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info p:first-child {
  font-weight: 600;
  text-transform: capitalize;
}

.info p:last-child {
  font-size: 0.9rem;
}

.addFriend form, .fromPay form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  background-color: rgb(255, 236, 200);
  padding: 20px 15px;
}

.addFriend form label, .fromPay form label{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addFriend form label input {
  border: 1px solid rgb(241, 192, 101);
  padding: 7px ;
  width: 220px;
  outline: none;
}

.addFriend form  button {
  align-self:flex-end;
  width: 220px;
}







