@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;;
}

.listFriends {
  display: flex;
  flex-direction: column;
}

.content {
  width: 50vw;
  padding: 50px;
  display: flex;
  margin: 100px auto;
  align-items: center;
}

button {
  border: none;
  padding: 8px 17px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}


.aboutFriend {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
}

.aboutFriend form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: rgb(255, 241, 214);
  border-radius: 8px;
}

.aboutFriend form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.aboutFriend form input {
  outline: none;
  border: 1px solid rgb(255, 209, 125);
  padding: 6px 5px;
}

.aboutFriend form > button {
  align-self: flex-end;
  background-color: orange;
  width: calc(50% - 8.5px);
}

.aboutFriend>button {
  align-self: flex-end;
  background-color: lightgray;
  
}

.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
  padding: 10px;
}

.itemInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.item .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info p:first-child {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: capitalize;
}

.info p:last-child {
  font-size: 0.9rem;
  text-transform: capitalize;
}


.item button {
  background-color: orange;
}

